@tailwind base;
@tailwind components;
@tailwind utilities;


:root {

    --main-color-hover: #1e40af20;
    --accent-color: #10b981; /* emerald-500 */

    --button-background-dark: #9C674Aff;
    --main-color: #422825ff;
    --bistre-2: #392222ff;
    --button-background-hover: #623B2Eff;
    --lion: #C49367ff;

}