@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
/* Custom Tailwind classes (if needed) */
.sub-menu {
  @apply hidden absolute inline-block space-y-1 px-4 py-2 bg-[var(--background-dark)] text-white shadow-lg ; /* Hides submenus by default */
}

.menu-item-has-children:hover .sub-menu {
  @apply block; /* Shows the submenu on hover (or toggle using JS) */
}
/* Tailwind CSS for submenu visibility */
.menu-item {
    @apply  font-semibold text-[var(--main-color)];
}
.menu-item-has-children {
  position: relative; 
  @apply hover:text-[var(--text-hover)];
}
:root {

    --main-color-hover: #1e40af20;
    --accent-color: #10b981; /* emerald-500 */

    --background-dark: #9C674Aff;
    --background-light: #C49367ff;
    --main-color: #422825ff;
     --button-background: #C49367ff;
        --text-hover: #392222ff;
    --button-background-hover: #623B2Eff;
    --button-background: #C49367ff;

}

/* booking plugin styles*/
.hotel-booking-search .hb-form-table {
  @apply grid grid-cols-1 md:grid-cols-2 gap-6;
}