@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
:root {
  --main-color-hover: #1e40af20;
  --accent-color: #10b981; /* emerald-500 */

  --background-dark: #9c674aff;
  --main-color: #422825ff;
  --text-hover: #392222ff;
  --button-background-hover: #623b2eff;
  --button-background: #c49367ff;
}
