@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #1e40af; /* blue-800 */
  --main-color-hover: #1e40af20;
  --accent-color: #10b981; /* emerald-500 */

  --raw-umber: #9C674Aff;
--bistre: #422825ff;
    --bistre-2: #392222ff;
    --bole: #623B2Eff;
    --lion: #C49367ff;

}