@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color-hover: #1e40af20;
  --accent-color: #10b981; /* emerald-500 */

  --raw-umbr: #9c674aff;
  --main-color: #422825ff;
  --bistre-2: #392222ff;
  --bole: #623b2eff;
  --lion: #c49367ff;
}
